

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.phonenumber, .operatore, h3 {
  color: #0ba9de;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-btn {
  background: linear-gradient(135deg, #437ac7, #5bc0de);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.submit-btn:hover {
  background: linear-gradient(135deg, #3b6ab0, #4da8c4);
}