<div class="profile-container">
    <div class="profile-card">
      <h2 class="profile-info">INFORMAZIONI SUL PROFILO</h2>
      <p><strong>E-mail:</strong> mariorossigmail.com</p>
      <p><strong>Cognome:</strong> {{userData?.lastName}}</p>
      <p><strong>Nome:</strong> {{userData?.firstName}}</p>
      <p><strong>Data Apertura:</strong> {{userData?.openingDate | date:'dd MMMM yyyy'}}</p>
      <p><strong>IBAN:</strong> {{userData?.IBAN}}</p>
    </div>
    <div class="profile-image">
      <img src="assets/immagineprofilo.png" alt="akfjns7sh.png">
    </div>
  </div>
  