<!-- Contenitore principale del rettangolo bianco -->
<div class="container">
  <!-- Icona movimento e titolo -->
  <div class="icon-title">
    <img src="assets/ricarica.png" alt="Icona movimento" />
    <div class="title">
      <h3>Dettaglio movimento</h3>
      <span>{{ movimento?.descrizione }}</span>
    </div>
  </div>

  <!-- Dettagli del movimento -->
  <div class="details">
    <div class="detail-item">
      <strong>Data:</strong>
      <span id="data-movimento">{{
        movimento?.data | date : "dd MMMM yyyy"
      }}</span>
    </div>
    <div class="detail-item">
      <strong>Importo:</strong>
      <span id="importo-movimento">{{ movimento?.importo | currency }}</span>
    </div>
    <div class="detail-item">
      <strong>Saldo:</strong>
      <span id="saldo-movimento">{{ movimento?.saldo | currency }}</span>
    </div>
    <div class="detail-item">
      <strong>CategoriaMovimento:</strong>
      <span id="categoria-movimento">{{
        (movimento?.categoriaMovimentoId)!.nomeCategoria
      }}</span>
    </div>
    <div class="detail-item">
      <strong>DescrizioneEstesa:</strong>
      <span id="descrizione-estesa">{{ movimento?.descrizione }}</span>
    </div>
  </div>
</div>
