a {
  width: 100px;
  color: black;
}

a:hover {
  color: rgba(9, 77, 179, 0.8);
  font-weight: bolder;
  cursor: pointer;
}

.dc {
  font-size: x-large;
  font-weight: 600;
  color: rgba(9, 77, 179, 0.8);
}

nav {
  background-color: whitesmoke !important;
  padding: 15px 25px;
  margin: 0;
}

.logo {
  img {
    width: 150px;
  }
}

.logo div {
  font-weight: 800;
  font-size: larger;
  padding: 0%;
  color: rgba(9, 77, 179, 0.8);
}

.nav-user-avatar {
  height: 40px;
  border-radius: 50%;
}
