<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container-fluid">
    <div class="logo nav-item">
      <img src="assets/logo.png" alt="logo">
    </div>
    <a class="nav-link" [routerLink]="['home']">Home</a>
    <a class="nav-link" [routerLink]="['home']">Ricerca</a>
    <a class="nav-link" [routerLink]="['home']">Ricarica</a>
    <a class="nav-link" [routerLink]="['home']">Bonifico</a>
    
    <!-- <a class="navbar-brand" [routerLink]="['/home']">Benvenuto </a> -->
    <ul class="navbar-nav mr-2" >
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['registration']">Profilo</a>
      </li>
    </ul>
    <a class="nav-link" [routerLink]="['login']">Login</a>
    <a class="nav-link" [routerLink]="['registration']">Registrazione</a>
  </div>
</nav>