/* Contenitore principale per il modulo e l'immagine */
.password-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px; /* Spazio tra il modulo e l'immagine */
  }
  
  /* Stile del box per la modifica della password */
  .password-change-box {
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
  }
  
  /* Titolo del modulo */
  .password-change-box h2 {
    color: #0bb0ba;
    margin-bottom: 20px;
  }
  
  /* Gruppo di input */
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  /* Etichetta del campo */
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Stile degli input di testo */
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Stile del pulsante */
  button {
    width: 100%;
    padding: 10px;
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Effetto hover sul pulsante */
  button:hover {
    background-color: #0000cc;
  }
  
  /* Contenitore dell'immagine */
  .password-image {
    display: flex;
    align-items: right; /* Allinea verticalmente l'immagine al centro */
  }
  
  /* Stile dell'immagine */
  .password-image img {
    max-width: 300px; /* Imposta una larghezza massima per l'immagine */
    height: auto; /* Mantiene le proporzioni dell'immagine */
  }
  