<div class="password-change-container">
    <div class="password-change-box">
      <h2>Modifica la tua password</h2>
      <form>
        <div class="input-group">
          <label for="old-password">Inserisci la vecchia password</label>
          <input type="password" id="old-password" />
        </div>
        <div class="input-group">
          <label for="new-password">Inserisci la nuova password</label>
          <input type="password" id="new-password" />
        </div>
        <button type="submit">Invia</button>
      </form>
    </div>
    <div class="password-image">
        <img src="/assets/password.png" alt="Profile Image" class="img-fluid" />
      </div>
  </div>
  
