<div class="password-change-container">
    <div class="password-change-box">
      <h2>Modifica la tua password</h2>
      <form [formGroup]="changePass" (ngSubmit)="changePassSubmit()">
        <div class="input-group">
          <label for="old-password">Inserisci la vecchia password</label>
          <input type="password" id="old-password" formControlName="oldPassword"/>
        </div>
        <div class="input-group">
          <label for="new-password">Inserisci la nuova password</label>
          <input type="password" id="new-password" formControlName="newPassword"/>
        </div>
        <div class="text-danger mb-3" *ngIf="changePassErr">
          {{ changePassErr }}
        </div>
        <div class="text-success mb-3" *ngIf="changePassSub">
          {{ changePassSub }}
        </div>
        <button type="submit">Invia</button>
      </form>
    </div>
    <div class="password-image">
        <img src="/assets/password.png" alt="Profile Image" class="img-fluid" />
      </div>
  </div>
  
