<div class="main-container">
  <div class="left-container">
    <div class="nome">
      Benvenuto <br>
      <span>{{ userData?.firstName }} </span> <span>{{ userData?.lastName }}!</span>
    </div>
    
    <app-credit-card></app-credit-card>
  </div>

  <div class="right-container">
    <div class="movimento" *ngFor="let m of movimenti">
      <img src="assets/ricarica.png" />
      <div class="details">
        {{m.descrizione}}<br />
        <a [routerLink]="['/details', m.movimentoId]">Visualizza dettagli</a>
      </div>
      <div class="prezzo">{{m.importo}}€</div>
    </div>
  </div>
</div>
