.dc {
  background-image: url(../../../../Screenshot\ 2024-09-24\ 154541.png);
  height: 500px;
  width: 900px;
  margin-left: 500px;
  position: absolute;
  border-radius: 25px;
}

.login-div {
  background-color: aliceblue;
  border-radius: 20px !important;
  margin-top: 50px;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  margin-top: 100px !important;
}

.text-center {
  margin-top: 40px;
}
