<div class="container mt-5">
  <div class="row flex-container">
    <!-- Div per il modulo di login -->
    <div class="col col-lg-5 col-md-12 border rounded p-4 login-div">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="title">
          <strong>Login</strong>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password" />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Accedi
          </button>
        </div>
      </form>
    </div>

    <!-- Div per l'immagine -->
    <div class="col col-lg-5 profile-image">
      <img src="/assets/homelogin.png" alt="Login Image" />
    </div>
  </div>
</div>
