@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

/* Card */

.card {
  width: 380px;
  height: 230px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
      217deg,
      rgba(195, 255, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(13, 176, 217, 0.8),
      rgba(25, 167, 203, 0) 70.71%
    ),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(170, 17, 17, 0) 70.71%);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: relative;
}

.visa_logo {
  padding: 10px;
}

.visa_logo img {
  float: inline-end;
  width: 70px;
  height: 40px;
}

.visa_info .if_saldo {
  display: flex;
  align-items: center;
}

.visa_info .if_no_saldo {
  display: flex;
  align-items: center;
}

.visa_info .if_no_saldo p {
  margin-right: 45%;
  font-size: xx-large;
}

.visa_info {
  padding: 10px;
  margin-top: 4%;
  margin-bottom: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visa_info img {
  width: 60px;
  height: 45px;
}

.visa_info p {
  float: right;
  margin-bottom: -8%;
  margin-right: 25%;
  font-size: xx-large;
  color: #ffffff;
}

.if_saldo img {
  cursor: pointer;
}

.if_no_saldo img {
  cursor: pointer;
}

.visa_number p {
  font-size: small;
  letter-spacing: 2px;
  color: #ffffff;
  margin-left: 5%;
  float: right;
  margin-right: 10%;
}

.visa_number span {
  float: left;
  color: #ffffff;
  font-size: small;
  margin-left: 10%;
}

.visa_crinfo {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #ffffff;
}
