<div class="saldo">
  <div class="top">Saldo Corrente</div>

  <div class="bottom" *ngIf="!saldoNascosto">
    <div>
      <span *ngIf="saldo">{{ saldo | currency }}</span>
      <span *ngIf="!saldo">-</span>
    </div>
    <button (click)="nascondiSaldo(true)">
      <img src="assets/occhio.png" />
    </button>
  </div>

  <div class="bottom" *ngIf="saldoNascosto">
    <div class="saldo-nascosto">Saldo Nascosto</div>
    <button (click)="nascondiSaldo(false)">
      <img src="assets/occhionascosto.png" />
    </button>
  </div>

  <div class="iban">
    Il tuo IBAN: <br />
    <span>{{ userData?.IBAN }}</span>
  </div>
</div>
