@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 40%;
  height: 50vh;
  display: flex;
  margin-right: 0%;
  margin-top: -15%;
  perspective: 1000px;
}

/* Card */

.credit-card:hover {
  cursor: pointer;
}

.credit-card {
  position: relative;
}

.credit-card .card-front,
.credit-card .card-back {
  width: 380px;
  height: 230px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
    to bottom right,
    rgb(223, 14, 143),
    rgb(106, 183, 225)
  );

  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.credit-card.flipped .card-front {
  transform: rotateY(180deg);
}
.credit-card.flipped .card-back {
  transform: rotateY(360deg); /* Ruota di 180 gradi sull'asse Y */
}

/* Stili per il retro della carta */
.credit-card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(
    180deg
  ); /* Nasconde il retro quando la carta non è girata */
}

.credit-card .card-front {
  backface-visibility: hidden; /* Nasconde il fronte quando la carta è girata */
}

.credit-card .card-back {
  transform: rotateY(180deg); /* Il retro deve essere ruotato a 180 gradi */
}

.visa-name-bank > p {
  font-size: x-large;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  color: #ffffff;
  font-family: "Rubik";
}

.visa_logo {
  float: right;
  padding: 10px;
}

.visa_logo img {
  width: 70px;
  height: 40px;
}

.visa_info {
  padding: 10px;
  margin: 50px 0;
}

.visa_info img {
  width: 60px;
  height: 45px;
  margin-top: 7%;
}

.visa_info p {
  font-size: 22px;
  padding: 5px 0;
  margin-top: 10px;
  letter-spacing: 2px;
  color: #ffffff;
}

.visa_crinfo {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #ffffff;
  margin-top: -17%;
}

.black-stripe {
  background-color: #333;
  height: 40px;
  width: 100%;
  margin-bottom: 25%;
}


