<div class="container">
  <!-- Sezione form e icona -->
  <div class="content-wrapper">
    <!-- Sezione per l'inserimento dei dati di bonifico -->
    <div class="form-section">
      <form [formGroup]="bonificoForm" (ngSubmit)="onSubmit()">
        <label for="ibanMittente">IBAN Mittente:</label>
        <input id="ibanMittente" formControlName="ibanMittente" type="text" />
        <label for="ibanDestinatario">IBAN Destinatario:</label>
        <input
          id="ibanDestinatario"
          formControlName="ibanDestinatario"
          type="text"
        />

        <label for="importo">Importo:</label>
        <input id="importo" formControlName="importo" type="number" />

        <label for="descrizione">Descrizione (Opzionale):</label>
        <input id="descrizione" formControlName="descrizione" type="text" />

        <button type="submit" [disabled]="!bonificoForm.valid">
          Effettua Bonifico
        </button>
      </form>
    </div>

    <!-- Icona rappresentativa del bonifico bancario verso un simbolo Euro -->
    <div class="icon-section">
      <img
        src="assets/wire_transfer_eur_big.png"
        alt="Icona di bonifico bancario"
      />
    </div>
  </div>
</div>
